adapter: mysql2
encoding: utf8
host: <%= ENV['COREPROTECT_DATABASE_HOST'] %>
database: <%= ENV['COREPROTECT_DATABASE_DATABASE'] %>
username: <%= ENV['COREPROTECT_DATABASE_USERNAME'] %>
password: <%= ENV['COREPROTECT_DATABASE_PASSWORD'] %>
init_command: SET max_statement_time = <%= ENV.fetch('TIMEOUT', 1000) %>
